.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 10px 0px;
}

ul {
  margin-top: 0;
}

button {
  display: inline-block;
}

#main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
}
.left {
  min-height: 50vh;
  min-width: 150px;
  width: 250px;
  margin: 0px 50px;
  border: 1px solid rgba(128,128,128,.1);
  border-radius: 10px;
  position: relative;
}

.right {
  min-height: 50vh;
  display: flex;  
  width: 50vw;
}
.description {
  width: 300px;
}

.right-inner {
  padding: 20px;
  min-width: 250px;
}

.auth-panel {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  padding: 10px;
}

.project-button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}

button, .greeting {
  font-size: 12px;
}

.goal-panel {
  border: 1px solid rgba(128,128,128,.1);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

.auth-panel button {
  padding: 2px;
  margin-right: 5px;
}


.wc-history-item {
  border: 1px solid rgba(128,128,128,.1);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

.wc-history-item-count {
/**/
}
.wc-history-item-time, .goal-added {
  color: grey;
  font-size: 12px;
}
.entry {
  display: block;
  width: 80%;
  margin: auto;
}

.count-list-container {
  height: 50vh;
  overflow-y: scroll;
}

:root {
  --d: 0 0% 100%;
  --p1: 259 94% 61%;
  --p2: 259 94% 51%;
  --p3: 259 94% 41%;
  --s1: 314 100% 57%;
  --s2: 314 100% 47%;
  --s3: 314 100% 37%;
  --a1: 174 60% 61%;
  --a2: 174 60% 51%;
  --a3: 174 60% 41%;
  --cp: 0 0% 100%;
  --cs: 0 0% 100%;
  --ca: 0 0% 100%;
  --c1: 220 14% 96%;
  --c2: 228 14% 93%;
  --c3: 220 15% 84%;
  --c4: 218 14% 65%;
  --c5: 220 14% 46%;
  --c6: 220 14% 37%;
  --c7: 219 14% 28%;
  --c8: 222 13% 19%;
  --c9: 223 14% 10%;
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}