.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 10px 0px;
}

ul {
  margin-top: 0;
}

button {
  display: inline-block;
}

#main {
  /* display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px; */
}
.left {
  min-height: 50vh;
  min-width: 150px;
  width: 250px;
  margin: 0px 50px;
  border: 1px solid rgba(128,128,128,.1);
  border-radius: 10px;
  position: relative;
}

.right {
  min-height: 50vh;
  display: flex;  
  width: 50vw;
}
.description {
  width: 300px;
}

.right-inner {
  padding: 20px;
  min-width: 250px;
}

.auth-panel {
  position: absolute;
  left: 0;
  top: 0;
}

.project-button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}


.goal-panel {
  border: 1px solid rgba(128,128,128,.1);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

.auth-panel button {
  padding: 2px;
  margin-right: 5px;
}


.wc-history-item {
  border: 1px solid rgba(128,128,128,.1);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

.wc-history-item-count {
/**/
}
.wc-history-item-time, .goal-added {
  color: grey;
  font-size: 12px;
}
.entry {
  display: block;
  width: 80%;
  margin: auto;
}